*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main{
     border: 1px solid black;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin:  100px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding: 5px;

}

.myForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    
}
.Form{
    display: grid;
    place-items: center;
}